.App {
  background: #FAF7F2;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.restaurant-titleO {
  font-family: Londrina Solid;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
}

.home-buttonO {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  color: #5F5F5F;
}

.order-buttonO {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  color: #CE2829;
}

.form-bannerO {
  width: 90%;
  margin-bottom: 50px;
}